# HRRR Data Extraction - Docker Compose Configuration
# Edit the paths below to match your system

# HOST PATHS - RELATIVE TO PROJECT DIRECTORY
HOST_SCRIPT_ABS_DIR=./scripts
HOST_DATA_ABS_DIR=./data
# This is for resuming the the job to the currently processing date
ENABLE_CHECKPOINT=true
# EXTRACTION COMMAND
# Default: Full extraction (Feb 19, 2015 - Mar 6, 2021)
# RUN_COMMAND=/opt/aws-process-hrrr.sh

# EXTRACTION COMMAND one day
RUN_COMMAND="/opt/aws-process-hrrr.sh 20200101 20200101"
# Alternative commands:
# Custom range: RUN_COMMAND=/opt/aws-process-hrrr.sh 20150219 20150228

